body{
    width: 100%;
    overflow-x:hidden !important;
    overflow-y:auto !important;
    background-color: #f4e4a9;
}
#name {
    font-weight: bold;
}
input.select-dropdown{
    padding: 0 15px    !important;
    font-size: 1rem    !important;
    margin: 0 0 0 0  !important;
    display: block     !important;
    position: relative !important;
}

nav ul input.select-dropdown {
    -webkit-transition: background-color .3s !important;
    transition: background-color .3s !important;
    font-size: 1rem !important;
    color: #000000 !important;
    display: block !important;
    padding: 0px 15px !important;
    cursor: pointer !important;
    box-sizing: inherit;
    position: relative !important;
    height: 100% !important;

}

.select-wrapper input.select-dropdown{
    border-bottom: 0px transparent !important;
}

@media only screen and (min-width: 601px){
nav ul input.select-dropdown {
         border-bottom: 1px solid #000000 !important;
    }
}
